
<div class="container">
  <h1 class="o-top">List of characters</h1>
  <div class="row mb-2">
    <div class="col-sm-6 d-flex justify-content-end">
      <select   name="options" [(ngModel)]="optionFilter">
        <option [value]="option" *ngFor="let option of options">
          {{ option }}
        </option>
      </select>
    </div>
    <div class="col-sm-6">
      <app-search-filter (search)="sendSearchFilter($event)"></app-search-filter>
      
    </div>
  </div>
  <div class="row mb-2">
    <div class="col d-flex justify-content-end">
      <button type="button" class="btn btn-primary btn-sm"
      (click)="prevPage()"
      [disabled]="page===0"
      >Previous</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-primary btn-sm"  (click)="nextPage()"
      [disabled]="(characters| filterCharacters:page:search:optionFilter).length===0">Next</button>
    </div>
  </div>
  <div class="row d-flex flex-wrap">
    <div class="col mb-3" *ngFor="let character of characters|filterCharacters:page:search:optionFilter">
      <app-character [character]="character"></app-character>
    </div>
  </div>
</div>
