nav{
    background-color: #0b2239;
    color: #cfd9e0;
    padding-right: 1rem;
    padding-left: 1rem;
    .o-input{
        width: 15%;
    }
    #navbarSupportedContent{
        justify-content: end;
    }
  
}