
  <div class="card text-center o-card">
    <img
      src="{{ character.image }}"
      class="card-img-top o-card-img"
      alt="{{ character.firstName+' '+ character.lastName}}"
    />
    <div class="card-body">
      <h6 class="card-title">{{ character.firstName+' '+ character.lastName }}</h6>
      <p class="card-text ">
        <strong> Bold Status :</strong
        ><small>
          {{
            !character.ancestry.localeCompare("")
              ? "Unspecified"
              : character.ancestry
          }}</small
        >
      </p>
      <h6 class="card-subtitle ">
        <strong> Species : </strong
        ><small>{{
          !character.species.localeCompare("")
            ? "Unspecified"
            : character.species
        }}</small>
      </h6>

      <h6 class="card-subtitle ">
        <strong>Alive : </strong>
        <small>{{ character.alive ? "Live" : "Died" }}</small>
      </h6>
    </div>
  </div>

