
  
input{
    width: 100%;
    
}
input::-webkit-input-placeholder { /* Edge */
    font-size: 12px;
    font-weight: 600;
   
  }
  
  input :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 12px;
    font-weight: 600;
  }
  
  input::placeholder {
   font-size: 12px;
   font-weight: 600;
  }