$color-title:#0e1a40;
$color-members: #946b2d;
$font-size:.9rem;
.o-card{
    width: 14rem;
    height:18rem;
    box-shadow: 0 5px 6px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    .o-card-img{
        height: 10rem;
        overflow: hidden
        
    }
    .card-body{
        .card-title{
            font-weight:700;
            color: $color-title;
            text-transform: capitalize;
        }
        small{
            font-weight: 600;
            color: $color-members;
            font-size: $font-size;
        }
        strong{
            color:	#222f5b;
            font-size: $font-size;
            
        }
      
    }
}