<div class="container">
  <div class="card text-center o-card">
    <img
      src="{{ house.img }}"
      class="card-img-top o-card-img"
      alt="{{ house.name }}"
    />
    <div class="card-body">
      <h5 class="card-title">{{ house.name }} House</h5>
      <h6 class="card-subtitle mb-2">
        <strong>Menbers: </strong> <small>{{ house.members }}</small>
      </h6>
      <a
        [routerLink]="['/house', house.name]"
        class="btn btn-sm btn-outline-secondary"
        role="button"
        >Go House</a
      >
    </div>
  </div>
</div>
